<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Restaurant App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- bootswatch superhero theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css" />
		<!-- google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
		<!-- main styles -->
		{% assets "scss_all" %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}"/>
		{% endassets %}
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{{ url_for('home') }}">Categorize.Me</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav pull-right">
						{% if isLoggedIn == False %}
						<li id="loginContext" class="pd-xsx-top">
							<span class="g-signin"
								data-scope="openid email"
								data-clientid="942393827757-4uplberuk2o4kvfb7b1uhuo9o3pkcr8f.apps.googleusercontent.com"
								data-redirecturi="postmessage"
								data-accesstype="offline"
								data-cookiepolicy="single_host_origin"
								data-callback="signInCallback"
								data-approvalprompt="force">
							</span>
						</li>
						{% else %}
						<li><a href="{{ url_for('gdisconnect') }}"><i class="glyphicon glyphicon-off"></i> &nbsp;Logout</a></li>
						{% endif %}
						<li><a href="{{ url_for('getAllCategories') }}"><i class="glyphicon glyphicon-th-list"></i> &nbsp;Categories</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
	   </nav>
		 <!-- Loading Modal -->
		 <div class="modal"></div>
