{% include "partials/header.html" %}
<div class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
			{% for message in messages %}
				<div class="alert alert-success"><strong>{{message}}</strong></div>
			{% endfor %}
	{% endif %}
	{% endwith %}
	<div class="col-md-10 col-md-offset-1"></div>
		<div class="card">
			<h3>{{item.name}}</h3><br />
			<p>{{item.description}}</p>
			<p>
				<a href="{{ url_for('editItem', item_id=item.id, category_id=category_id) }}">Edit</a> |
				<a href="{{ url_for('deleteItem', category_id=category_id, item_id=item.id) }}">Delete</a>
			</p>
		</div>
	</div>
</div>
{% include "partials/footer.html" %}
