{% include "partials/header.html" %}
<div class="container">
	<div class="col-md-8 col-md-offset-2"></div>
		<div class="card">
			<h3>Edit: {{item.name}}</h3>
			<form>
				<input type="text" class="form-control" name="name" value="{{item.name}}"/><br />
				<input type="text" class="form-control" name="description" value="{{item.description}}"/><br />
				<input type="submit" class="btn btn-primary" value="Edit Item"/> &nbsp;
				<a href="{{ url_for('getItem', category_id=category_id, item_id=item.id) }}" class="btn btn-default">Cancel</a>
			</form>
		</div>
	</div>
</div>
{% include "partials/footer.html" %}
