{% include "partials/header.html" %}
<div class="fluid-container">
	<div class="hero">
		<h1 class="hero__heading">Categorize your items!</h1>
	</div>
	<div class="container md-lg-top md-xlg-bottom">

		<div class="row">
			<div class="col-md-4 text-center md-sm-bottom">
				<div class="card--sm text-center">
					<img class="card__img img-responsive" src="static/img/icons/add-user.png"/>
					<br />
					<p>
						Create an account and keep track of your categories and items!
					</p>
				</div>
			</div>

			<div class="col-md-4 text-center md-sm-bottom">
				<div class="card--sm text-center">
					<img class="card__img img-responsive" src="static/img/icons/paper.png"/>
					<br />
					<p>
						See what categories are fresh and hot. See what categories consist of.
					</p>
				</div>
			</div>

			<div class="col-md-4 text-center">
				<div class="card--sm text-center">
					<img class="card__img img-responsive" src="static/img/icons/smartphone.png"/>
					<br />
					<p>
						View your categories and category items on all devices.
					</p>
				</div>
			</div>
		</div>

	</div>
</div>
{% include "partials/footer.html" %}
