{% include "partials/header.html" %}
<div class="fluid-container">
	<div class="hero"></div>
	<div class="container md-xlg-top md-xlg-bottom">

		<div class="row md-xlg-bottom">
			<div class="col-md-10 col-md-offset-1 md-sm-bottom">
				<div class="card text-center">
					<h3>Welcome to the thunderdome</h3>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 text-center md-sm-bottom">
				<div class="card--sm text-center">
					<h3>Test</h3>
				</div>
			</div>

			<div class="col-md-4 text-center md-sm-bottom">
				<div class="card--sm text-center">
					<h3>Test</h3>
				</div>
			</div>

			<div class="col-md-4 text-center">
				<div class="card--sm text-center">
					<h3>Test</h3>
				</div>
			</div>
		</div>

	</div>
</div>
{% include "partials/footer.html" %}
