{% include "partials/header.html" %}
<div class="container">
	<div class="col-md-8 col-md-offset-2"></div>
		<div class="card">
			<h3>Add Category</h3>
			<form method="POST" enctype="multipart/form-data" action="{{ url_for('addNewCategory') }}">
				<input type="text" class="form-control" name="name" placeholder="Name"/><br />
				<input type="submit" class="btn btn-primary" value="Add Category"/> &nbsp;
			</form><br/>
			<a href="{{ url_for('getAllCategories') }}" class="btn btn-default">Cancel</a>
		</div>
	</div>
</div>
{% include "partials/footer.html" %}
