.clear {
	clear: both;
}

/* medium padding top */
.md-pd-top {
	padding-top: 1em;
}

/* margin utils */
.md-mg-top {
	margin: 1em;
}

.md-sm-bottom {
	margin-bottom: 1.2em;
}

.md-xlg-top {
	margin-top: 4.5em;
}

.md-xlg-bottom {
	margin-bottom: 7.5em;
}
